<div class="content" role="main">
    <h1 class="header">English Alphabet - Английската Азбука</h1>

    <video class="video" width="720" height="360" controls>
        <source src="../../assets/videos/y2mate.com - Песен за английската азбука - детска песничка_6dyM3_P2IdA_360p.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>

    <div class="arrows">
        <img (click)="goBack()" src="../../assets/images/902px-Arrow_west.svg.png" alt="left-arrow" class="left-arrow"> 
        <img src="../../assets/images/800px-Arrow_east.svg.png" alt="right-arrow" class="right-arrow" routerLink="/whole-alphabet-info">
    </div>
</div>
