<div class="content" role="main">
    <h1 class="header">Vowels - Гласни букви</h1>

    <div class="info-img">
        <!-- <img src="../../assets/images/alphabet.jpg" alt="alphabet"> -->
        <div class="text">
            <p>Английската азбука има 5 гласни букви.</p>
        </div>
        <img class="image" src="../../assets/images/short-vowels-4-FB.webp" alt="vowels" height="400px">

    </div>

    <div class="arrows">
        <img (click)="goBack()" src="../../assets/images/902px-Arrow_west.svg.png" alt="left-arrow" class="left-arrow"> 
        <img src="../../assets/images/800px-Arrow_east.svg.png" alt="right-arrow" class="right-arrow" routerLink="/consonants">
    </div>
</div>
